html{
    margin: 0;
    padding: 0;
}

body{

    margin: 0;
    padding: 0;
}


.header_films{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 20vh;
    background-color: #474747;
}
.ligne{
  flex-direction: row;
  text-align: center;
}
.ligne_g{
  margin-top: -25px;
  height: 10%;
  width: 35%;
}

.ligne_d{
  margin-top: -25px;
  height: 10%;
  width: 35%;
}

.header_films h1{
  color: #dadba7;
  text-align: center;
  font-family: 'Poiret One', cursive;
  font-size: 6em;
  font-weight: 600;
  word-spacing: 0.4em;
  letter-spacing: 0.05em;

}

#liste_films{
    margin: 0;
    background-color: white;
}

.menu_films{
  border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #494343;
    height: 100%;
}

.liens_films{
  overflow: hidden;
  border-radius: 15px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #c7c3c3;

}


.effect{
  border-radius: 25px;
    width: 200px;
    height: 300px;
    margin: 5px;
    margin-top: 40px;
}


.effect:hover{
    transform: scale(1.2);
    border: 5px solid #494343be;
    box-shadow: 2px 10px 178px 0px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 2px 10px 178px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 2px 10px 178px 0px rgba(255, 255, 255, 0.75);
    transition: all 0.6s ease-in-out;
}


#menu-accordeon {
    padding:0;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    list-style:none;
    text-align: center;
    width: 80%;
  }
  #menu-accordeon ul {
    padding:0;
    list-style:none;
    text-align: center;
  }
  #menu-accordeon li {
    margin-top: 30px;
     background-color:#c7c3c3; 
     border-radius: 6px;
     margin-bottom:2px;

  }
  #menu-accordeon li li {
     max-height:0;
     overflow: hidden;
     transition: all 2s;
     border-radius:0;
     background: #444;
     box-shadow: none;
     border:none;
     margin:0
  }
  #menu-accordeon a {
    display:block;
    text-decoration: none;
    color: white;
    padding: 8px 0;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 0.1em;
    font-size:1.6em;
    font-weight: 800;
  }
  #menu-accordeon ul li a, #menu-accordeon li:hover li a {
    font-size:1em
  }
  #menu-accordeon li:hover {
     background: #616161
  }
  #menu-accordeon li li:hover {
     background: #999;
  }
  #menu-accordeon ul li:last-child {
     border-radius: 0 0 6px 6px;
     border:none;
  }
  #menu-accordeon li:hover li {
    max-height: 15em;
  }

  .js #grid li {
    display: none;
    opacity: 0;
  }

  
  @media screen and (max-width: 575px) {

    .header_films h1{
      color: #dadba7;
      text-align: center;
      font-family: 'Poiret One', cursive;
      font-size: 3em;
      font-weight: 600;
      word-spacing: 0.4em;
      letter-spacing: 0.05em;
    
    }
    

    .menu_films{
      border-radius: 15px;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: #494343;
        height: 100%;
        width: 100%;
    }
   
    #menu-accordeon ul {
      padding:0;
      list-style:none;
      text-align: center;
    }


    #menu-accordeon a {
      display:block;
      text-decoration: none;
      color: white;
      padding: 8px 0;
      font-family: 'Roboto Condensed', sans-serif;
      letter-spacing: 0.1em;
      font-size: 1em;
      font-weight: 800;
    }

    #menu-accordeon li {
      
      margin-top: 30px;
       background-color:#c7c3c3; 
       border-radius: 6px;
       margin-bottom:2px;
    }
  }

/*  _______________carousel______________________*/



  .carouselContainer {
    position: absolute;
    top: 1000px;;
    left: 25vw;
    width: 50vw;
    height: 50vh;
  }
  
  .carousel {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .carousel__panel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 25%;
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: sans-serif;
    font-size: 3vw;
    font-weight: 100;
    letter-spacing: 0.4em;
    line-height: 50vh;
    text-align: center;
    text-shadow: 0px 0px 8px black;
    text-transform: uppercase;
    transition: transform 0.5s, opacity 0.3s;
  }
  
  .carousel__panel.static {
    transition: none;
  }
  
  .carousel__panel--outView {
    opacity: 0;
  }
  
  .carousel__panel--inView {
    opacity: 1;
  }
  
  .carousel__panel--inView.carousel__panel--left {
    transform: translate(-50%) scale(0.75);
    opacity: 0.5;
  }
  
  .carousel__panel--inView.carousel__panel--right {
    transform: translate(50%) scale(0.75);
    opacity: 0.5;
  }
  
  .carousel__panel--inView.carousel__panel--center {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  .carousel__panel--outView.carousel__panel--left {
    opacity: 0;
    transform: translate(-150%) scale(0.75);
  }
  
  .carousel__panel--outView.carousel__panel--right {
    opacity: 0;
    transform: translate(150%) scale(0.75);
  }
  
  .carousel__arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    color: #fff;
    font-size: 4vw;
    line-height: 50vh;
    text-align: center;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    opacity: 0.2;
    z-index: 2;
    cursor: pointer;
    transition: opacity 0.3s;
  }
  
  .carousel__arrow--right {
    right: 0;
  }
  
  .carousel__arrow:hover {
    opacity: 0.8;
  }