* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

/*------------------------------
----pour le body des pages------
-------------------------------*/

#content, #real, #acteur {
  background-color: #dadba7;
  padding-bottom: 20px;
}

#content, #real {
  font-family: 'Roboto Condensed', sans-serif;
}

#acteur {
  background-color: #c7c3c3;
  border-bottom: 1px solid #474747;
}

/*------------------------------
----pour le titre---------------
-------------------------------*/

#content .hoofd, #real .hoofd, #acteur .hoofd {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: 20vh;
    background-color: #474747;
}

#content h1, #real h1, #acteur h1 {
  font-family: 'Poiret One', cursive;
  font-size: 6em;
  font-weight: 600;
  word-spacing: 0.4em;
  letter-spacing: 0.05em;
  text-align: center;

}

#content h1, #real h1 {
  color: #c7c3c3;
}

#acteur h1{
  color: #dadba7;
}

#content .lignes, #real .lignes, #acteur .lignes,{
  flex-direction: row;
  text-align: center;
}

#content .ligne, #real .ligne, #acteur .ligne,{
  height: 10%;
  width: 35%;
}


/*-----------------------------------------
----pour l'image du film sur content------
-----------------------------------------*/

#content .media {
  width: 70%;
  height: 400px;
  margin: 20px auto;
}


/*------------------------------
----pour la partie texte------
-------------------------------*/

#content .text-center, #real .text-center, #acteur .text-center {
  padding: 20px 10%;
  width: 80%;
}

#content .text-center {
  margin: 20px auto;
}

#real .text-center, #acteur .text-center {
  margin-left: 6%;
  margin-top: 20px;

}

/*------------------------------
----pour la partie récap------
-------------------------------*/

#content .row {
  margin-bottom: 20px;
}

/*----------------------------------
----pour la video bande annonce------
-----------------------------------*/

#content iframe {
  margin-top: 5%;
}

/*----------------------------------------
----pour la partie CI du réalisateur------
-----------------------------------------*/

#real .row, #acteur .row {
  margin-top: 20px;
}

#real .CI, #acteur .CI {
  margin-bottom: 20px;
}


/*------------------------------------
----pour la galerie des affiches------
-------------------------------------*/

#real .liens_films, #acteur .liens_films {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #494343;
    justify-content: space-around;
    height: 100%;
    margin-left: 10%;
    border-radius: 15px;
    padding-bottom: 20px;
}

#real .affiche, #acteur .affiche {
    width: 200px;
    height: 300px;
    margin: 40px;
    border-radius: 25px;
}

#real img:hover, #acteur img:hover {
  transform: scale(1.2);
    border: 5px solid #494343be;
    box-shadow: 2px 10px 178px 0px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 2px 10px 178px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 2px 10px 178px 0px rgba(255, 255, 255, 0.75);
    transition: all 0.6s ease-in-out;
}


/*----------------------------------
----------media query----------------
----------------------------------*/

@media only screen and (max-width: 1199px) {
  #content iframe {
    margin-top: 10%;
  }
  #content .lignes, #real .lignes, #acteur .lignes,{
    width: 20%;
  }
}

@media only screen and (max-width: 880px) {
  #content h1, #real h1, #acteur h1{
    font-size: 4em;
  }

@media only screen and (max-width: 767px) {
  #real .liens_films, #acteur .liens_films {
    margin-left: 2%;
  }
#real .text-center, #acteur .text-center {
    width: 90%;
  }
}

@media only screen and (max-width: 576px) {
  #content h1, #real h1, #acteur h1{
    font-size: 2em;
  }
  #content iframe {
    margin-left: 15%;
  }
  }
